body{
    background:lightgray;
}
#para{
    background: gray;
}

#sect{
    background: #216583;
    padding:50px;
    color:white;
}
#sect2{
    margin-top:50px;
}
#sect h3{
    padding:20px;
    color:white;
}

h1,p{
    text-align: center;
}
#header-img{
    background:url("images/lap.jpg");
    
    background-size:100%;
    background-repeat: no-repeat;
    /*background:#216583;*/
    min-height: 400px;
    padding-top:125px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif !important;
}
.img-1{
    margin-left:30%;
}
#contactinfo{
    background: red;
}
td{
    padding:30px;
}